<!-- footer -->
<footer class="py-15 py-xl-20 border-top" style="font-family: Montserrat, sans-serif;">
    <div class="container">
        <div class="row g-4 g-lg-5 mb-10">
            <div class="col-2 text-center text-md-start">
                <a href="http://localhost:3000/shop" class=""><img src="/public/image/shop/image-removebg-preview (4).png" alt="Logo"
                        width="150%"></a>
                <div class="col-lg-10 order-lg-2 text-center text-md-start">
                    <ul class="list-inline small">
                        <br>
                        <br>
                        <li class="list-inline-item ms-1"><a href="" class="text-reset text-primary-hover"><i
                                    style="font-size: 200%;" class="bi bi-facebook"></i>
                                <h8> @Storey</h8>
                            </a>
                        </li>
                        <li class="list-inline-item ms-1 pt-1"><a href="" class="text-reset text-primary-hover"><i
                                    style="font-size: 200%;" class="bi bi-instagram"></i>
                                <h8> @Storey</h8>
                            </a></li>
                        <li class="list-inline-item ms-1 pt-1"><a href="" class="text-reset text-primary-hover"><i
                                    style="font-size: 200%;" class="bi bi-tiktok"></i>
                                <h8> @Storey</h8>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2  text-center text-md-start">
                <ul class="list-unstyled">

                </ul>
            </div>
            <div class="col-4  text-center text-md-start">
                <ul class="list-unstyled">
                    <p style="font-weight: bolder;">THÔNG TIN LIÊN HỆ</p>
                    <li class="mb-1"><i class="bi bi-geo-alt"></i> 12 Nguyễn Văn Bảo, Phường
                        4, Quận Gò Vấp, Tp. Hồ Chí Minh</li>
                    <li class="mb-1"><i class="bi bi-telephone-fill"></i> 0123456789</li>
                    <li class="mb-1"><i class="bi bi-envelope-fill"></i> contact@storey.com
                    </li>

                </ul>
            </div>
            <div class="col-2  text-center text-md-start">
                <ul class="list-unstyled">
                    <p style="font-weight: bolder;">SITEMAP</p>
                    <li class="mb-1"><a href="http://localhost:3000/shop/" class="text-reset text-primary-hover">Trang chủ</a></li>
                    <li class="mb-1"><a href="http://localhost:3000/shop/gioi-thieu " class="text-reset text-primary-hover">Giới thiệu</a></li>
                    <li class="mb-1"><a href="http://localhost:3000/shop/dong-ho-nam " class="text-reset text-primary-hover">Sản phẩm</a></li>
                    <li class="mb-1"><a href="http://localhost:3000/shop/lien-he " class="text-reset text-primary-hover">Liên hệ</a></li>

                </ul>
            </div>
            <div class="col-2 text-center text-md-start">
                <ul class="list-unstyled">
                    <p style="font-weight: bolder;">HỖ TRỢ</p>
                    <li class="mb-1"><a href="http://localhost:3000/shop/huong-dan-mua-hang " class="text-reset text-primary-hover">Hướng dẫn mua hàng</a>
                    </li>
                    <li class="mb-1"><a href="" class="text-reset text-primary-hover">Hướng dẫn thanh toán</a>
                    </li>
                    <li class="mb-1"><a href="" class="text-reset text-primary-hover">Chính sách bảo hành</a>
                    </li>
                    <li class="mb-1"><a href="" class="text-reset text-primary-hover">Chính sách đổi trả</a>
                    </li>
                    <li class="mb-1"><a href="" class="text-reset text-primary-hover">Tư vấn sản phẩm</a></li>
                </ul>
            </div>

        </div>
        <div class="row align-items-center g-1 g-lg-6 text-muted">

            <div class="col-md-4  text-center text-md-end order-lg-3">
                <img src="/public/image/shop/img-payment.png" alt="">
            </div>
            <div class="col-lg-6 text-center text-md-start">
                <h5 style="text-align: center;" class="small">Copyrights © 2022 by STOREY | All rights reserved.
                </h5>
            </div>
        </div>
    </div>
</footer>
<!-- javascript -->
<script src="/public/bootrap/vendor.bundle.js"></script>
<script src="/public/bootrap/index.bundle.js"></script>