<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STOREY - Đăng nhập</title>
    <link rel="stylesheet" href="../public/css/dangnhap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="../public/bootrap/jquery-3.6.0.min.js"></script>
    <script src="../public/bootrap/bootstrap.min.js"></script>
    <script src="../public/js/dangnhap.js"></script>
    <script src="../controllers/account_controller.js"></script>

    <script>
        function kiemtraTennd() {
            var hoten = $("#txtTennd").val();
            var regexhoten = /^[A-Z]+[a-z]{2,}(\s+[A-Z]+[a-z]{2,})*$/; // Trinh Gia Phuc
            if (hoten === "") {
                $("#tbTennd").html("Vui lòng nhập tên người dùng");
                return false;
            }
            if (!regexhoten.test(hoten)) {
                $("#tbTennd").html("Tên người dùng không hợp lệ! (Ex: Le Van A)");
                return false;
            }
            $("#tbTennd").html("");
            return true;
        }

        function kiemtraTentk() {
            var hoten = $("#txtTentk").val();
            var regexhoten = /^[a-zA-Z0-9_-]{3,16}$/; // ItaD13
            if (hoten === "") {
                $("#tbTentk").html("Bắt buộc nhập tài khoản");
                return false;
            }
            if (!regexhoten.test(hoten)) {
                $("#tbTentk").html("Tài khoản tối thiểu 3-16 ký tự");
                return false;
            }
            $("#tbTentk").html("");
            return true;
        }

        function kiemtraMatkhau() {
            var matkhau = $("#txtMatkhau").val();
            var regexmatkhau = /^[A-Za-z1-9]{8,}$/;
            if (matkhau === "") {
                $("#tbMatkhau").html("Bắt buộc nhập mật khẩu");
                return false;
            }
            if (!regexmatkhau.test(matkhau)) {
                $("#tbMatkhau").html("Phải trên 8 kí tự");
                return false;
            }
            $("#tbMatkhau").html("");
            return true;
        }

        function kiemtraemail() {
            var email = $("#txtEmail").val();
            var regexemail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/; // trinhgiaphuc@gmail.com

            if (email === "") {
                $("#tbEmail").html("Bắt buộc nhập trường này");
                return false;
            }
            if (!regexemail.test(email)) {
                $("#tbEmail").html("Sai định dạng Email");
                return false;
            }
            $("#tbEmail").html("");
            return true;
        }


        $(document).ready(function () {
            $("#txtTennd").blur(kiemtraTennd);
            $("#txtTentk").blur(kiemtraTentk);
            $("#txtMatkhau").blur(kiemtraMatkhau);
            $("#txtEmail").blur(kiemtraemail);
        });


    </script>

</head>

<body>
    <a href="http://localhost:3000/Storey"><img class="center" src="../public/image/image-removebg-preview (4).png"
            alt="Logo Storey"></a>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="http://localhost:3000/Storey/quan-ly-user/add-user" method="post">
                <h1>Tạo tài khoản</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span> hoặc sử dụng email của bạn để đăng ký</span>
                <input id="txtTennd" name="tennguoidung" type="text" placeholder="Tên người dùng" required />
                <span id="tbTennd" style="color: red;"></span>

                <input id="txtTentk" name="tentaikhoan" type="text" placeholder="Tên tài khoản" required />
                <span id="tbTentk" style="color: red;"></span>

                <input id="txtMatkhau" name="matkhau" type="password" placeholder="Mật khẩu" required />
                <span id="tbMatkhau" style="color: red;"></span>

                <input id="txtEmail" name="email" type="email" placeholder="Email" required />
                <span id="tbEmail" style="color: red;"></span>

                <button id="btn_dangky">Đăng ký</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Đăng nhập</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>
                    hoặc sử dụng tài khoản của bạn</span>
                <input type="text" placeholder="Tên tài khoản" />
                <input type="password" placeholder="Mật khẩu" />
                <a href="#">Quên mật khẩu?</a>
                <button>Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Chào mừng bạn trở lại!</h1>
                    <p>Để giữ kết nối với chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin chào bạn! </h1>
                    <p>Nhập thông tin cá nhân của bạn và bắt đầu khám phá với chúng tôi</p>
                    <button class="ghost" id="signUp">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>

</html>