<%- include('_head_shop')  %> 

<body class="bg-red">

    <!-- hero -->
    <section class="inverted">
        <div class="d-flex flex-column container min-vh-100 py-20">
            <div class="row align-items-center justify-content-center justify-content-lg-between my-auto">
                <div class="col-lg-6 order-lg-2">
                    <img class="img-fluid" src="/public/image/404.svg" alt="Figure">
                </div>
                <div class="col-md-8 col-lg-5 order-lg-1 text-center text-lg-start">
                    <h1 class="display-2">Sorry, page not found.</h1>
                    <a href="http://localhost:3000/shop" class="btn btn-rounded btn-outline-white rounded-pill">Trở về Trang chủ</a>
                </div>
            </div>
        </div>
    </section>
<!-- javascript -->
<script src="/public/bootrap/vendor.bundle.js"></script>
<script src="/public/bootrap/index.bundle.js"></script>
</body>
