<%- include('_head_shop') %>

  <body>

    <%- include('_nav_shop') %>

      <section class="py-15 py-xl-20 pb-xl-15">
        <div class="container mt-10">
          <h1>Hướng dẫn mua hàng</h1>
        </div>
      </section>

      <section class="py-10 py-xl-15 border-top">
        <div class="container">
          <div class="row g-4 justify-content-between">

            <div class="col-md-12">
              <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque animi labore
                architecto quia ullam, modi
                minima dolor totam ipsam officiis optio nesciunt atque, aspernatur maiores iure enim minus sequi vero.
                Lorem
                ipsum dolor sit amet, consectetur adipisicing, elit. Iusto a provident, molestiae officia, quibusdam
                similique totam autem dignissimos delectus, in laboriosam! Fuga suscipit delectus vel aliquam
                perferendis
                soluta ab sed.</p>
            </div>
          </div>
        </div>
      </section>

  </body>
  <%- include('_footer_shop') %>